doctype html
html
    head
        title= title
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css', rel='stylesheet', media='screen')
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        .navbar.navbar-inverse.navbar-fixed-top(role='navigation')
            .container
                .navbar-header
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='/') Project name
                .navbar-collapse.collapse
                    ul.nav.navbar-nav
                        li.active
                            a(href='/') Index
                        li
                            a(href='#about') About
                        li
                            a(href='#contact') Contact
                        //li.dropdown
                            a.dropdown-toggle(href='#', data-toggle='dropdown')
                                | Dropdown
                                span.caret
                            ul.dropdown-menu(role='menu')
                                li
                                    a(href='#') Action
                                li
                                    a(href='#') Another action
                                li
                                    a(href='#') Something else here
                                li.divider
                                li.dropdown-header Nav header
                                li
                                    a(href='#') Separated link
                                li
                                    a(href='#') One more separated link
                    ul.nav.navbar-nav.navbar-right
                        if (!user)
                            li
                                a(href="/login") Login
                            li
                                a(href="/register") Register
                        if (user)
                            li
                                a(href="/user") #{user.username}
                            li
                                a(href="/logout") Logout

        .container
            block content

    script(src='http://code.jquery.com/jquery.js')
    script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
if (error && error.length > 0)
    br
    h4.error-msg= error
    br